@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
:root {
    --trans-time: 0.25s;
}
a,
.pager > .target > a,
.pager > .current,
.pager > .dots,
nav .side-bar ul li a:hover,
.hover {
    text-decoration: none;
    color: #76aa09;
    -webkit-transition: var(--trans-time, 0.25s) color;
    -o-transition: var(--trans-time, 0.25s) color;
    -moz-transition: var(--trans-time, 0.25s) color;
    transition: var(--trans-time, 0.25s) color;
}/* 链接 */
a:hover,
a:focus {
    color: #11a2d0;
}/* 悬停 + 选中链接 */
* {
    cursor: url("/aero_arrow.cur"), default;
    scroll-behavior: smooth;
}/* 全局默认样式 */
a, span.title,
button:hover,
.btn,
.btn:hover,
input.button,
.yui-navset .yui-nav li a {
    cursor: url("/aero_link.cur"), pointer;
}/* 链接按钮 */
span.odate,
span.spantip {
    cursor: url("/aero_helpsel.cur"), help !important;
}/* 问号：日期和其他悬浮 */
header.header-wrap h1 a {
    font-family: NSimSun, "Times New Roman", "Source Han Serif", "Sounrce Han Serif CN", "Songti SC", serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    transition: color 128ms ease-out;
}
header.header-wrap h1 a:hover,
header.header-wrap h1 a:focus,
header.header-wrap h1 a:active{
    text-decoration: none;
    color: #fff;
}
header.header-wrap h2 {
    font-family: NSimSun, "Times New Roman", "Source Han Serif", "Sounrce Han Serif CN", "Songti SC", serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: 2px;
    padding-left: 56px;
    margin-top: 10px;
    margin-bottom: 0;
}
header.header-wrap .site-title{  min-height: 75px; }
body,
main .content .feature.offcolor{
    background: url(http://r.photo.store.qq.com/psc?/V52ApUKa0d3o5d4CGMT51dQeVg4c18Pf/45NBuzDIW489QBoVep5mcVU6UAMnxET4mVn4im6AKVAcgYg2saHo41nV.HSPn9TlWLc7nrTG2zW9ayqtr2BcBrVKn36mE9aMd.0LmhtcVw8!/r);
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
header.header-wrap h1 a,
nav .top-bar .navbar-brand,
.wiki-content-table > thead > tr > th,
.wiki-content-table > tbody > tr > th,
.wiki-content-table > tfoot > tr > th,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.btn.btn-primary,
.tabview-primary .yui-navset .yui-nav li a,
main .content .feature-header h1{
    color: #E7E7EA;
}
.image-box.image-box-primary .image-box-heading{  color: #E7E7EA !important; }
footer .footer{
    text-align: center;
    padding-bottom: 32px;
    color: #fff;
}
footer .footer > div{  margin: 8px 0; }
.page-source{    word-break: break-all; }
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border: solid 1px rgba(0, 0, 0, 0.1);
}
 ::-webkit-scrollbar-track{    background: rgba(0, 0, 0, 0.1); }
 ::-webkit-scrollbar-thumb:hover{    background: #687fc4; }
 ::-webkit-scrollbar-thumb:focus {
    background: #687fc4;
    outline: none;
    box-shadow: 0 3px 5px rgba(0,0,0,.15) inset;
}
::-webkit-scrollbar-thumb {    background: #8ea3c2; }/* 默认滑块 */
input, textarea{    caret-color: #4d5eff; }/* 光标 */
@supports (-webkit-mask: none) and (not (cater-color: #72c8fe)) {
    input, textarea { color: #4d5eff; }
    input::first-line {  }
}
::selection {
    background: #b5c4f7;
    color: #3713be;
}/* webkit, opera, IE9 */
::-moz-selection {
    background: #b5c4f7;
    color: #3713be;
}/* mozilla firefox */
img{    -webkit-user-drag:none; }
main > .content{
    background: #FFF;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);
    position: relative;
    top: -110px;
    border-radius: 4px;
    padding-bottom: 15px;
}
.container{    margin-right:auto; margin-left:auto; padding-left:15px; padding-right:15px; }
.container:before, .container:after{    content:" ";display:table; }
.container:after{    clear:both; }
.container:before,.container:after{    content:" ";display:table; }
.container:after{    clear:both; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
